html{
  background-color: #869960;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 87%;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding-top: 20px;
  color: #617140;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%; // 25px
}

header p {
  margin: 0;
}

/* site navigation */

.site-nav {
  margin-top: 20px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  text-decoration: none;
  color: #617140;
  padding: 10px 20px;
  border: 3px solid #e5e9dc;
  border-bottom: none;
  display: block;// a type default is inline so use block to avoid overlapping
}

.site-nav a:hover{
  background-color: #e5e9dc;
}
/* end site navigation */

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.content-area{
  border-top: 3px solid #e5e9dc;
  border-bottom: 3px solid #e5e9dc;
}

.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  text-align: justify;
  box-sizing: border-box;
}

/* bannner with positioning */

.image-banner img {
  display: block;// img default is inline use block to avoid overlapping
}

.image-banner {
  position: relative;
}

.banner-description {
  background-color: rgb(0,0,0,0.65);
  padding: 15px 20px;
  /* positioning */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-description p {
  color: #fff;
}

/* end bannner with positioning */

.sidebar {
  width: 34%;
  float: left;
  background-color: #e5e9dc;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 85%;
  text-align: justify;
}

footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}

/* clearfix code */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
/* clearfix code */
